/*=============== WISHLIST ===============*/
.table__container {
    overflow-x: auto;
}

.table {
    table-layout: fixed;
    margin-bottom: 2rem;
}

.table tr {
    border-top: 1px solid var(--border-color-alt);
}

.table tr:last-child {
    border-bottom: 1px solid var(--border-color-alt);
}

.table tr th:nth-child(1),
.table tr td:nth-child(1) {
    width: 216px;
}

.table tr th:nth-child(2),
.table tr td:nth-child(2) {
    width: 400px;
}

.table tr th:nth-child(3),
.table tr td:nth-child(3) {
    width: 108px;
}

.table tr th:nth-child(4),
.table tr td:nth-child(4) {
    width: 220px;
}

.table tr th:nth-child(5),
.table tr td:nth-child(5) {
    width: 200px;
}

.table tr th:nth-child(6),
.table tr td:nth-child(6) {
    width: 152px;
}

.table__img {
    width: 80px;
}

.table tr th,
.table tr td {
    text-align: center;
    padding: 0.5rem;
}

.table__title,
.table__description,
.table__price,
.table__subtotal,
.table__trash,
.table__stock {
    font-size: var(--small-font-size);
}

.table__title,
.table__stock {
    color: var(--first-color);
}

.table__description {
    max-width: 250px;
    margin-inline: auto;
}

.table__trash {
    color: var(--text-color-light);
}